{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
      <div class="col-sm-2 ">
      </div>
      <div class="col-sm-6 offset-sm-1 text-center ">
          <h1 class="alert-heading">Well Done</h1>
          <br>
          <br>
            <p>An Email has been sent with all instructions to reset Password. <b>check your email</b></p>
      </div>
  </div>
</div>
{% endblock main-content %}